@font-face {
    font-family: 'Poppins'; /* Nom de la police */
    src: url('/font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root {
    --main-color: rgba(244, 127, 11, 1);
    --second-color: rgba(3, 166, 166, 1);
    --gris-clair: rgba(231, 231, 231, 1);
    --gris-dark: rgba(53, 54, 58, 1);
}


* {
    font: inherit; /* Hérite de toutes les propriétés de police de l'élément parent, (astuce que j'utilise) */
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: black;
}

body {
    font-family: 'Poppins', sans-serif; /* Utilisation de la police définie */
    background-color: rgb(231, 231, 231);
}


h1 {
    font-size: clamp(2.5em, min(10vh, 5vw), 4em);
    font-weight: bold;
    padding-bottom: 0.75em;
}


p {
    font-size: clamp(1.5em, min(5vh, 2.5vw), 1.75em);
}

button {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
}

a, button {
    transition: color 0.3s;
}

a:hover, button:hover {
    color: rgba(21, 165, 165, 1)
}