/* -------------------- top -------------------- */

header .top {
    height: 200px;
    background-color: var(--gris-dark);
    display: flex;
}


header .top .top-p-img {
    width: 50%;
}

header .top img {
    height: 100%;

}

header .top .top-p-text {
    color: white;
    font-size: 2em;
    width: 50%;
}

header .t-bienvenue strong {
    font-size: 2.25em;
    display: flex;
    justify-content: center;
}

header .t-user {
    display: flex;
    justify-content: space-around;
}

header .user-role {
    color: var(--main-color);

}


/*  ------------------- menu ------------------- */

.menu {
    height: 50px;
    display: flex;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.281);
}

.menu ul {
    display: flex;
    font-size: 1.25em;
    font-weight: 600;
}


.menu-nav {
    width: 57%;
}

.menu-nav ul {
    display: flex;
    justify-content: start;
    height: 100%;
    align-content: center;
    align-items: center;
}

.menu-nav ul li {
    padding: 0 30px;
}