{% extends 'base.html.twig' %}

{% block title %}Edition Entreprise{% endblock %}

{% block body %}
    <h1>Edition Entreprise</h1>

    {{ include('entreprise/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}" class="boutton">Retour aux Informations</a>
    <br>
{% endblock %}
