{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block navbar %}

    <div>
        <h1>Voici les routes disponibles :</h1>
        <ul>
            <li><a href="entreprise">Entreprise</a></li>
            <li><a href="activite">Activité</a></li>
            <li><a href="specialisation">Speciatilisation</a></li>
            <li><a href="utilisateur">Utilisateur</a></li>
            <li><a href="role">Role</a></li>
        </ul>

    </div>
{% endblock %}
