{% if userRole != 'Enseignant'  %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% else %}
    Vous n'avez pas les droits pour effectuer cette action
{% endif %}
