{% if userRole != 'Enseignant'  %}
<form method="post" action="{{ path('app_professionelle_delete', {'id': professionelle.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professionelle.id) }}">
    <button class="boutton">Supprimer</button>
</form>
{% endif %}