{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Inclut les feuilles de style du modèle de base #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/login.css">
{% endblock %}

{% block body %}
    <main>
        <div class="content-center section-login">
            <section class="titre-login">
                <h1>Bienvenue</h1>
                <p>Connectez-vous pour pouvoir pointer vos honoraires.</p>
            </section>
            <section class="formulaire-login">
                {% if app.request.query.has('error') %}
                    <div class="alert alert-danger">
                        {{ app.request.query.get('error') }}
                    </div>
                {% endif %}

                <form method="post" action="{{ path('check_login') }}" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur :</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required autofocus>
                        <div class="invalid-feedback">
                            Veuillez entrer votre nom d'utilisateur.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input type="password" class="form-control" id="password" name="_password" required>
                        <div class="invalid-feedback">
                            Veuillez entrer votre mot de passe.
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Connexion</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}
