{% extends 'base.html.twig' %}

{% block title %}Edition Stage{% endblock %}

{% block body %}
    <h1>Edition Stage</h1>

    {{ include('stage/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
    <a href="{{ path('app_stage_index') }}" class="boutton">Retour à la liste</a>
    <br>
    <br>
    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
