{% extends 'base.html.twig' %}

{% block title %}New Stage{% endblock %}

{% block body %}
    <h1>Nouveau Stage</h1>

    {{ include('stage/_form.html.twig') }}

    <a href="{{ path('app_entreprise_index') }}" class="boutton">Retour à la liste</a>
{% endblock %}
